
*{
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 144, 14, 0.1);
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
  header nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
  }

  .banner-section{
    background: rgba(255, 144, 14, 0.1)
  }
  .banner-info{
    text-align: center;
  }
   button{
   background: #FF900E;
   padding: 20px 25px;
   font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .banner-section .banner-image img{
    width: 1100px;
    height: 600px;
  padding: 30px 200px;
  }


  .feature-section .feature-info{
    display: flex;
    justify-content: space-between;
  }
  .feature-section .feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

  }
  .feature-title{
    padding-left: 70px;
    padding-right: 300px;
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .architect-section{
    display: flex;
    justify-content: space-around;
   
  }
.architect-section {


}
  .architect-section .architect-info .architect-title .title{
   height: 100px;
   border-left: 5px solid #FF900E;
  }
  .architect-section .architect-info .architect-title .title h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
padding-left: 8px;

  }
  .architect-section .architect-info .architect-title p{
    font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #727272;


  }
  .architect-info .architect-details .architect{
    width: 586px;
height: 100px;
padding: 30px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
margin-top: 20px;
  }
  .architect-image img{
   height: 850px;
  }
  .architect-image button{
    position: absolute;
width: 342px;
height: 200px;
left: 770px;
top: 2484px;
  }

  
  