
*{
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 144, 14, 0.1);
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
  header nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
  }

  .banner-section{
    background: rgba(255, 144, 14, 0.1)
  }
  .banner-info{
    text-align: center;
  }
   button{
   background: #FF900E;
   padding: 20px 25px;
   font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .banner-section .banner-image img{
    width: 1100px;
    height: 600px;
  padding: 30px 200px;
  }


  .feature-section .feature-info{
    display: flex;
    justify-content: space-between;
  }
  .feature-section .feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

  }
  .feature-title{
    padding-left: 70px;
    padding-right: 300px;
    padding-top: 300px;
    padding-bottom: 300px;
  }
  
  